$roboto-font: "Roboto";

$main-color: rgba(0, 113, 123);
$main-color2: #f29e03;
$black-color: rgba(51, 51, 51);
$bg_topic_img: url("https://dsm01pap001files.storage.live.com/y4mXsTsvFbJjaI75YXKpHvmb-nSujBipPAea_Chdz3c1R8fBfLkt6ArTJEuIr04uRaqa9LimlJY6Ilu_o2ilys_wC3Xw3O64IAidEgrbU-KiePCgFzlnp2xTCZHqAc84mr-MlctwpsydZryIJX6kZMWSlmX-C5VENaMlsXZ0rMwpDmL-e6kRaszLVs9TR1dVXsT?width=578&height=660&cropmode=none");
$bg_overlay: rgba(255, 255, 255, 0.8);